.welcome-p {
  text-align: justify;
}

body {
  background-color: #FFF7FA!important;
}

.navbar-brand>img {
    height: 28px;
}

.well {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}

#controls {
    top: 100px;
    left: auto;
    right: auto;
    bottom: auto;
    width: 230px;
    height: auto;
    position: fixed;
    cursor: move;
    opacity: 0.8;
    background-color: white;
    padding: 0 20px 20px 20px;

}

iframe {
  width: 700px;
  height: 80vh;
}