.welcome-p {
  text-align: justify;
}

body {
  background-color: #FFF7FA!important;
}

.navbar-brand>img {
    height: 28px;
}

.well {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}